.row_poster_item .row_item_name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row_poster_item h5{
    font-size: 1vmax;
    text-align: center;
    margin-top: 1vmax;
    color: rgba(245, 245, 245, 0.527);
    width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rating{
    padding: 0.5vmax 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.rating span{
    font-size: 0.8vmax;
    color: rgba(255, 255, 255, 0.473);
}
.row_poster_item p{
    font-size: 0.8vmax;
    color: rgba(255, 255, 255, 0.582);
}
.row_poster{
    object-fit: contain;
    max-height: 120px;
    cursor: pointer;
    transition: transform 450ns;
}
.row_poster:hover{
    transform: scale(1.08);
}
.row_posterLarge{
    max-height:265px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
}
.btn-container-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.watch_btn, .details_btn{
    padding: 0.25rem 0.75rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
}
.watch_btn{
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
}
.watch_btn:hover{
    background-color: rgba(231, 41, 79, 0.849);
    color: rgba(255, 255, 255, 0.884);
}
.details_btn{
    background-color: rgba(255, 255, 255, 0.943);
    border: 1px solid rgba(255, 255, 255, 0.943);
    color: rgba(0, 0, 0, 0.829);
}
.details_btn:hover{
    background-color: white;
    color: crimson;
}
.watch_btn:disabled{
    background-color: rgba(220, 20, 60, 0.639);
    border-color: rgba(220, 20, 60, 0.559);;
    cursor: default;
}
@media screen and (max-width : 650px) {
    .row_poster_item h5{
        font-size: 1.8vmax;
    }
    .rating span{
        font-size: 1.4vmax;
    }
    .row_poster_item p{
        font-size: 1.4vmax;
    }
}